td{
    width: 30px;
    text-align: center;
}

tr:first-of-type{
    color: white;
    background-color: grey;
}


td:first-of-type{
    color: white;
    background-color: grey;
}

table{
    border-collapse: collapse;
}

.grey{
    background-color: #b3b3b3;
    color: #a3a3a3;
}

.red{
    color: white;
    font-weight: bold;
}
